@model DeliverySystemProject.Models.Booking

@{
    ViewData["Title"] = "CancelBooking";
}

<h1>CancelBooking</h1>

<h3>Are you sure you want to Cancel the order ?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutiveID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExecutiveID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUpDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickUpAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightOfPackage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightOfPackage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="CancelBooking">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Executive" asp-action="MenuPageExecutive">Menu Page</a>
    </form>
</div>
