@model IEnumerable<DeliverySystemProject.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Executives Registered</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightOfPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDateTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.WeightOfPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("EditBooking", "EditBooking", new { id = item.OrderID }) |
                @Html.ActionLink("BookingDetails", "BookingDetails", new { id = item.OrderID }) |
                @Html.ActionLink("CancelBooking", "CancelBooking", new { id = item.OrderID })
            </td>
        </tr>

        }
        <div>
            <a asp-controller="Customer" asp-action="MenuPageCustomer">Back to Menu Page</a>
        </div>
        
    </tbody>
</table>
